data/
**/data/
**/__MACOSX/
test/
train/
val/
wandb/

.env

# Python-related files that should typically be ignored
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
.env/
ENV/

*.pyc
*.pyo
*.pyd
.Python
*.cpython-*

*.csv